.data-cont{
    background-color:#d7f7f2;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.line{
    width: 98%;
}
.bidNo{
    color:black;
    font-weight: bold;
    margin-left: 9px;
}
.location{
    display: flex;
    flex-direction: column;
}
.start{
    color:green;
    font-size: 20px;
    margin-left: 5px;
}

.end{
    color: red;
    font-size: 25px;
    margin-top: 54px;
    margin-left: 1px;
}
.vl{
  border: 1px solid grey;
  height: 38px;
  position: absolute;
  margin-top: 27px;
  margin-left: 13px;
}

.loc-cont{
   display: flex;
   flex-direction: row;


}
.div2{
    margin-top: 9px;
}
.loc-details{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 0px;
    padding-top: 0px;
   
}
.city{
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 0px;
    color: navy;
    font-weight: 500;
}
.mill-add1{
    font-size: 12px;
    margin-top: 0px;
    color: green;
    font-weight: 500;
    margin-bottom: 20px;
}
.mill-add2{
    font-size: 12px;
    margin-top: 0px;
    color: red;
    font-weight: 500;
}
.mill-span{
    color: grey;
}
.span-city{
    color:grey;
}
.vehicle{
    display: flex;
    flex-direction: row;
}
.date{
    font-weight: 500;
    margin-top: 6px;
    padding-top: 0px;
    
}
.calender-icon{
    margin-top: 10px;
    margin-right: 8px;
}
.calender-icon2{
    margin-top: 3px;
    margin-right: 8px;
    color:navy;
}

.jeep{
    margin-top: 0px;
    padding-top: 0px;
    font-size: 15px;
    font-weight: 500;
    color: navy;
}
.span-truck{
    color:skyblue;
    margin-right: 20px;
}
.cng{
    color: white;
    height: 30px;
    font-size: 12px;
    width:100px;
    background-color: green;
    border-radius: 5px;
    padding:3px;
    margin-left: 15px;
}